.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 22px;
    position: relative;
    min-height: 180px;
}

.title {
    font-size: 0.875rem;
    line-height: 1.1875rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0;
    font-family: 'Brush Script MT', cursive;
}

@media (min-width: 720px) {
    .section {
        padding-top: 50px;
    }

    .title {
        font-size: 4rem;
        line-height: 1.8125rem;
    }
}
